*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    background:red;
    height:10vh;
}
main{
    height: 80vh;
}
footer{
    background:blue;
    height:10vh;
}
figure,nav{
    display: inline-block;
}
figure{
    margin: 1rem;
}

ul{
    list-style: none;
}
li{
    display: inline-block;
    margin:1 rem;
}
nav{
    position: absolute;
    right: 1.5rem;
}
aside,section{
    display: inline-block;
    height:80vh;
}

aside{
    width: 20vw;
    background: green;
}

aside div{
    height: 15vh;
    margin: 3vh;
    background: yellow;
}
section{
    position: absolute;
    left: 20vw;
    width: 80vw;
    padding: 1rem;
    background: pink;
}

.footer-social, .footer-info {
    display: inline-block;
    margin: 1rem;
}

.footer-info{
    position: absolute;
    right: 1.5rem;
}

#two{
    background: blue;
    text-align: center;
    border: solid 4px black;
    border-radius: 20%;
    width: 60vw;
    height: 30vh;
    display: inline-block;
    position: absolute;
    top: 12vh;
    text-align: center;
}
#one{
    background: red;
    text-align: center;
    border: solid 3px black;
    border-radius: 20%;
    width: 40vw;
    display: inline-block;
    position: absolute;
    top: 10vh;
    right: 18vh;
    z-index: 1;
}

